html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: 'Nunito';
    background-color: #35667C;
    overflow-x: hidden;
    /* min-width: 600px */
    /* width: 1320px; */
    /* min-width: 518px; */

}

#wrapper {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    /* margin: 10px 50px 10px 50px; */
    /* padding: 10px; */
    border-radius: 11px;

}

a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}
header h1 {
    text-align: center;
    margin-top: 250px;
    font-size: 47px;
    letter-spacing: 1px;
    text-shadow: 0px 5px 12px #4a2409;
    padding: 30px;
}

header {
    color: #fff;
    background-image: linear-gradient(#4a2409, rgba(255, 255, 255, 0)),
    url(../img/header-photo.jpg);
    /* border-radius: 11px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    border: 11px solid white;
    border-radius: 21px;
}

.logo {
    /* height: 47px; */
    margin: 20px 0 0 50px;
}

li {
    float: right;
    font-size: 22px;
    text-transform: uppercase;
    margin: 10px;
    /* margin-right:40px;
    margin-top: 25px; */
    /* margin: 10px 10px 0 0; */
    /* display: inline-block; */
    list-style-type: none;
    

}

ul {
    float: right;
    display: flex;
    margin-right: 30px;
    padding: 10px;
}

ul a:hover, ul a:focus {
    text-decoration: underline;
    color: #fab686;

}

main {
    margin-top: 75px;
    text-align: center;
    /* border: 3px dashed orange; */
    color: #6B350E;
    text-align: center;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

main div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight:500;
    letter-spacing: 1px;
}

main h1 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    margin: 0;
}

main .open-time {
    font-size: 38px;
    margin: 10px;
}

main .main-intro {
    margin: 10px;
}

main h3 {
    color: #6B350E;
    
}

div .features-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1052px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}

div .features {
    margin-left: auto;
    margin-right: auto;
    max-width: 1052px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.features h3, .features p {
    color: #6B350E;
    text-align: left;
    padding: 0 40px 0 60px;
    margin: 10px;
}

.features h3 {
    font-size: 32px;
}


.features img {    
    width: 328px;
}

.features-2 img {    
    width: 328px;
}

.features-2 h3 {
    font-size: 32px;
}

.features-2 h3, .features-2 p {
    color: #6B350E;
    text-align: left;
    padding: 0 40px 0 60px;
    margin: 10px;
}


.features {
    /* text-align: center; */
    /* display: block; */
    margin: 5px;
    padding: 40px;
 
}

div .coffe-logo {
    text-align: center;
    margin: 20px;
    /* margin: 0; */
}

div .one {
    margin: 15px;
    color: #fff;
    background-image:linear-gradient(to top, #4a2409, 40%, rgba(255, 255, 255, 0)), url(../img/drink-menu-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 500px;
    border-radius: 11px;
}

div .two {
    margin: 15px;
    color: #fff;
    background-image:linear-gradient(to top, #4a2409, 40%, rgba(255, 255, 255, 0)), url(../img/food-menu-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 500px;
    border-radius: 11px;
}



div .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 35px;
    color: #fff;
}

.menu h3 {
    text-align: center; 
    margin-top: 300px; 

}

/* footer h4 {
    color: #6B350E;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 0;
    border: 1px solid orange;

} */

footer .address {
    text-align: center;
    border-top: 1px solid #4a2409;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer p {
    margin-left: 0;
    margin-right: 0;
    display: inline;  
    color: #6B350E;
    /* margin: 0 5% 0 5%; */
    font-size: 25px;

}

.address h4 {
    font-weight:700px;
    font-size: 25px;
    color: #6B350E;
    display: inline;
    margin: 10px;

}


.icon {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.icon img {
    margin-right: 5px;
    margin-left: 5px;

}

div .copy-right {
    color: #6B350E;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}

 /* @media (min-width: 900px) {
    h1 {
        margin-top: 10px;
       font-size: 7.5vw;
    }
} */



@media (max-width: 599px) {

    body {
        margin-top: 0;
        overflow-x: hidden;
        margin-left: auto;
        margin-right: auto;

    }

    header {
        margin: 0;
        border-radius: 0;
        border: 0;
        background-position: left center;

    }

    /* .logo {
        margin-top: 20px; 
        position: relative;
        left: 30%;
        top: 3%;
    } */

    ul {
        float: none;
        display: flex;
        justify-content: center;
    }
    li {
        text-align: center;

    }

    header h1 {
        margin-top: 10px;

    }

    footer .address {
        text-align: center;
        border-top: 1px solid #4a2409;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    div .menu {
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    div .one, div .two {
        width: 90%;
        border: 1px solid red;
    }

    .features img {
        width: 100%;
        padding-top: 20px;
    }

    .features-2 img {
        width: 100%;
        padding-top: 20px;
    
    }

}


@media (max-width: 899px) {

    body {
        margin-top: 0;
        overflow-x: hidden;
        margin-left: auto;
        margin-right: auto;

    }

    header {
        margin: 0;
        border-radius: 0;
        border: 0;
    }



     .logo {
        position: relative;
        left: 30%;
        top: 3%;
    }


    ul {
        float: none;
        display: flex;
        justify-content: center;
    }

    li {
        text-align: center;

    }

    header h1 {
        margin-top: 10px;

    }

    footer .address {
        text-align: center;
        border-top: 1px solid #4a2409;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    div .features {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 409px;

    }

    .features img {
        width: 100%;
        padding-top: 20px;
    }
    .features-2 img {
        width: 100%;
        padding-top: 20px;
    }

    .features h3, .features p {
        color: #6B350E;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-top: 10px;
    }

    div .features-2 {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        padding: 40px;
        max-width: 409px;

    
    }

    .features-2 h3, .features-2 p {
        color: #6B350E;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-top: 20px;

    }

    .features-2 h3 {
        font-size: 32px;
    }

}

@media (max-width: 1000px) {
    footer .address {
        text-align: center;
        border-top: 1px solid #4a2409;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    div .menu {
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        width: 100%;
    }



}


